#message-area {
    display: flex;
    flex-direction: row;
}

#turn-indicator,
#result-message {
    flex: 1
}

#result-message {
    display: flex;
    flex-direction: column;

    button {
        margin: 0px 0px 20px 20px;
    }
}

#turn-indicator {
    display:flex;
    flex-direction: row;
    span {
        padding-top: 5px;
    }

    mat-icon {
        padding-top: 10px;
    }
}

th {
    padding-right: 30px
}